<form method="get" action="/quizes/statistics">        

<p>El número de preguntas: <%=numPregTotales%> </p>

<p>El número de comentarios totales: <%=numComTotales%></p>

<p>El número medio de comentarios por pregunta: <%=numMedioComenPreg%></p>

<p>El número de preguntas con comentarios: <%=numPregComen%></p>

<p>El número de preguntas sin comentarios: <%=pregSinComen%></p>

<p>El número de preguntas con comentarios publicados: <%=pregComenPubli%></p>

<p>El número de preguntas sin comentarios publicados: <%=pregSinComenPubli%></p>

<p>El número de preguntas con comentarios por publicar: <%=pregConComPendi%></p>

</form>